{% for type, messages in app.flashes(['success', 'error', 'info', 'warning']) %}
    {% for message in messages %}
        <div class="alert alert-{{type}}" role="main">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}