{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}
    <div class="jumbotron">
        <h5 class="text-muted display-4">Bienvenue a la page administration du site</h5>
        <p class="lead">Espace d'administration</p>
    </div>
{% endblock %}